// --- < VARIABLES > ---------------------------------------- //

$menu_height: 55px;

$menu_background_color: #c7c7c7;
$menu_foreground_color: #222;
$menu_foreground_hover_color: #FFF;

// --- < SCSS > --------------------------------------------- //

#main_menu {

    position: fixed;
    background-color: $menu_background_color;
    height: $menu_height;
    width: 100%;
    z-index: 800;
    @include transition(background, .4s, ease);
    @include transition(height, .4s, ease);
    @include box-shadow(0 0 8px #000);

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .header-inner {
        line-height: $menu_height - 2px;
        width: 100%;
        @include transition(line-height, .4s, ease);

        ul > li {
            padding-left: 3px;
            line-height: 24px;
        }

        img {
            height: $menu_height;
        }

        .menu {
            margin: 0;
            display: inline-block;

            & > li {
                display: inline-block;
                list-style: none;
                font-size: 13px;
                margin-right: 12px;
                vertical-align: middle;

                & > a {
                    font-weight: 400;
                    position: relative;
                    text-transform: uppercase;
                    padding-right: 21px;
                    display: block;

                    &:not(.bnt) {
                        color: $menu_foreground_color;
                        opacity: .85;
                    }

                    &.bnt,
                    &.active,
                    &:hover {
                        color: $menu_foreground_hover_color;
                        opacity: 1;
                    }
                }
            }


            .btn {
                font-family: open sans,sans-serif;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: .01em;
                height: 30px;
                line-height: 25px;

                @include text-antialiasing;

                border: 2px solid $menu_foreground_color;
                @include border-radius(3px);

                margin-bottom: 0;
                text-align: center;
                vertical-align: middle;

                cursor: pointer;

                color: $menu_foreground_color;

                text-shadow: none;
                box-shadow: none;

                padding-left: 17px;
                padding-right: 17px;

                position: relative;

                @include transition(color, .3s, ease);
                @include transition(background-color, .3s, ease);
                @include transition(opacity, .3s, ease 0s !important);

                &:hover {
                    background-color: $menu_foreground_color;
                }
            }
        }
    }
}
