// --- < VARIABLES > ---------------------------------------- //

$color_news-background: #ececec;
$color_news-foreground: #000;

// --- < SCSS > --------------------------------------------- //

.news {
    display: flex;
    flex-direction: row;

    background: $color_news-background;

    margin: 1rem;
    line-height: 1.4;

    @include border-radius(5px);
    @include box-shadow(0 3px 7px -1px rgba(#000, .1));

    overflow: hidden;
    z-index: 0;

    a {
        color: $color_in-text-link;
        @include transition(color, 0.3s, ease-out);

        &:hover {
            color: $color_in-text-link-hover;
        }
    }

    .news-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        @include transition(transform, .3s, ease-out);
    }

    &:hover {
        .news-img {
            @include scale(1.3);
        }
    }

    .meta {
        position: relative;
        z-index: 0;
        flex-basis: 40%;
        height: auto;
    }



    ul li {
        display: inline-block;
    }

    .content {
        padding: 1rem;
        background: $color_news-background;
        position: relative;
        z-index: 1;
        flex-basis: 60%;

        &:before {
            transform: skewX(-3deg);
            content: "";
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
            background-color: $color_news-background;
        }

        h1 {
            line-height: 1;
            margin: 0 0 0.5em 0;
            font-size: 1.7rem;
        }

        .read-more {
            text-align: right;
        }

        p {
            position: relative;
            margin: 1rem 0 0;

            &:first-of-type {
                margin-top: 1.25rem;

                &:before {
                    content: "";
                    position: absolute;
                    height: 5px;
                    background: $color_primary;
                    width: 35px;
                    top: -0.75rem;
                    border-radius: 3px;
                }
            }
        }

        .detail {
            i {
                margin-right: 4px;
            }
            li {
                margin-right: 12px;
            }
        }
    }

    &:nth-child(2n+0) {
        flex-direction: row-reverse;

        .meta {
            flex-basis: 40%;
            height: auto;
        }

        .content {
            &:before {
                left: inherit;
                right: -10px;
                transform: skew(3deg)
            }
        }

        .details {
            padding-left: 25px;
        }
    }
}

