<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/edit_profile.css}">
    <script src="https://kit.fontawesome.com/6bdf0d0706.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <title th:text="${updateUser.username}">Profile</title>
</head>

<body>
<div th:replace="menu :: menu"></div>
<header>
    <img class="profile-img" src="" alt="">
    <h1 th:text="${updateUser.username}"></h1>
</header>
<div class="profile-container">
    <div id="form-container">
        <form th:action="@{'/profile/'+${id}+'/edit'}" th:object="${updateUser}" method="post">
            <fieldset class="clearfix">
                <p><label th:if="${error != null}" th:text="${error}"></label></p>

                <p><span class="fas fa-user"></span><input type="text" th:field="*{username}" id="username" name="username" placeholder="Username"></p>
                <label for="username" th:each="error: ${#fields.errors('username')}" th:text="${error}"></label>

                <p><span class="fas fa-at"></span><input type="email" th:field="*{email}" id="email" name="email" placeholder="Email"></p>
                <label for="email" th:each="error: ${#fields.errors('email')}" th:text="${error}"></label>

                <p><span class="fas fa-lock"></span><input type="password" th:field="*{password}" id="password" name="password" placeholder="Password"></p>
                <label for="password" th:each="error: ${#fields.errors('password')}" th:text="${error}"></label>

                <p><span class="fas fa-lock"></span><input type="password" th:field="*{matchingPassword}" id="matchingPassword" name="matchingPassword" placeholder="Password confirmation"></p>
                <label for="matchingPassword" th:each="error: ${#fields.errors('matchingPassword')}" th:text="${error}"></label>

                <p><input type="submit" value="Save"></p>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>