<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/login_register.css}">
    <script src="https://kit.fontawesome.com/6bdf0d0706.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>

<body id="connection">
<div class="l-container">
    <div id="form-container">
        <form th:action="@{/register}" method="get">
            <fieldset class="clearfix">
                <p><span class="fas fa-user"></span><input type="text" id="identifier" name="identifier" placeholder="Username"></p>
                <label for="identifier">This username is already taken</label>

                <p><span class="fas fa-at"></span><input type="email" id="email" name="email" placeholder="Email"></p>
                <label for="email"></label>

                <p><span class="fas fa-calendar-day"></span><input type="text" id="birthDate" name="birthDate" placeholder="Birth date"></p>
                <label for="birthDate"></label>

                <p><span class="fas fa-lock"></span><input type="password" id="password" name="password" placeholder="Password"></p>
                <label for="password"></label>

                <p><span class="fas fa-lock"></span><input type="password" id="cfrmPassword" name="cfrmPassword" placeholder="Password confirmation"></p>
                <label for="cfrmPassword"></label>

                <p><input type="submit" value="Sign In"></p>
            </fieldset>
        </form>
        <p>Not a member? <a th:href="@{/login}">Sign in now</a><span class="fas fa-arrow-circle-right"></span></p>
    </div>
</div>

</body>

</html>