<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="https://kit.fontawesome.com/6bdf0d0706.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <title>Boutique</title>
</head>

<body id="index">
    <div th:replace="menu :: menu"></div>
    <header>
        <h1>Boutique</h1>
    </header>

    <section class="products-container">
        <div class="products">
            <div class="product" th:each="product : ${products}">
                <div class="product-bottom">
                    <p class="name"><a th:href="@{'/products/'+${product.id}}" th:text="${product.name}">Product Name</a></p>
                    <span class="price" th:text="${product.price}+' €'">9.99 €</span>
                    <a th:href="@{'/basket/add/'+${product.id}}" class="btn">Add</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>