<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/basket_payment.css}">
    <script src="https://kit.fontawesome.com/6bdf0d0706.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <title>Paiement</title>
</head>

<body>
<div th:replace="menu :: menu"></div>
<header>
    <h1>Paiement</h1>
    <p>Il n'y a actuellement aucun moyen de paiement dans cette première version</p>
</header>

<section class="payment order-info">
    <div class="order-info-container">
        <h2>Détails du panier</h2>
        <th:block th:each="product : ${products}">
            <p class="price" th:text="${#numbers.formatDecimal(product.product.price, 1, 2, 'COMMA')}+' € - '+${product.product.name}"></p>
        </th:block>
        <p class="totalTVA" th:text="'Dont '+${#numbers.formatDecimal(totalTVA, 1, 2, 'COMMA')}+' € de TVA'"></p>
        <p class="total" th:text="'Total '+${#numbers.formatDecimal(total, 1, 2, 'COMMA')}+' €'"></p>
    </div>
    <a th:href="@{/index}" class="btn">Payer</a>
</section>

</body>
</html>