.red {
    color: #ff4025;
}

.blue {
    color: #4168b4;
}


.bdr-red {
    border-color: #ff4025;
}

.bdr-blue {
    border-color: #4168b4;
}


.bck-red {
    background-color: #ff4025;
}

.bck-blue {
    background-color: #4168b4;
}