input, textarea, .btn-form-cancel {
    border: none;
    font-size: 14px;
    line-height: 1.5em;
    -webkit-appearance: none;
    padding: 10px;
}

textarea, input[type = "text"] {
    width: 100%;
    background-color: #5c6269;
    @include border-radius(3px);
    color: #d4d8dc;
    margin: 10px 0;
}

textarea {
    resize: vertical;
}

input[type = "text"] {

    &::placeholder {
        color: #c0c4c8;
    }
}

input[type="submit"], .btn-form-cancel {
    @include border-radius(3px);
    background-color: $color_primary;
    color: #eee;
    font-weight: bold;
    margin: 1em 0 2em 0;
    text-transform: uppercase;
    width: 200px;

    &:hover {
        background-color: #ff5845;
    }
}

.btn-form-cancel {
    position: relative;
    text-align: center;
    display: inline-block;
    background-color: #5a5a5a;
    bottom: -1px;

    &:hover {
        background-color: #3b4148;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color_primary;
    border-radius: 10px;
}