* {
  margin: 0;
  padding: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

body {
  color: #626262;
  line-height: 1.42857143;
  font-family: open sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1; }

a {
  outline: 0 !important;
  text-shadow: none !important;
  text-decoration: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.relative {
  position: relative; }

#main_menu {
  position: fixed;
  background-color: #c7c7c7;
  height: 55px;
  width: 100%;
  z-index: 800;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  transition: background 0.4s ease;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  transition: height 0.4s ease;
  -webkit-box-shadow: 0 0 8px #000;
  -moz-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000; }
  #main_menu .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  #main_menu .header-inner {
    line-height: 53px;
    width: 100%;
    -webkit-transition: line-height 0.4s ease;
    -moz-transition: line-height 0.4s ease;
    transition: line-height 0.4s ease; }
    #main_menu .header-inner ul > li {
      padding-left: 3px;
      line-height: 24px; }
    #main_menu .header-inner img {
      height: 55px; }
    #main_menu .header-inner .menu {
      margin: 0;
      display: inline-block; }
      #main_menu .header-inner .menu > li {
        display: inline-block;
        list-style: none;
        font-size: 13px;
        margin-right: 12px;
        vertical-align: middle; }
        #main_menu .header-inner .menu > li > a {
          position: relative;
          text-transform: uppercase;
          padding-right: 21px;
          display: block; }
          #main_menu .header-inner .menu > li > a:not(.bnt) {
            color: #222;
            opacity: .85; }
          #main_menu .header-inner .menu > li > a.bnt, #main_menu .header-inner .menu > li > a.active, #main_menu .header-inner .menu > li > a:hover {
            color: #FFF;
            opacity: 1; }
      #main_menu .header-inner .menu .btn {
        font-family: open sans,sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .01em;
        height: 30px;
        line-height: 25px;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-font-feature-settings: "kern" 1;
        -moz-font-feature-settings: "kern" 1;
        border: 2px solid #222;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        color: #222;
        text-shadow: none;
        box-shadow: none;
        padding-left: 17px;
        padding-right: 17px;
        position: relative;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        transition: color 0.3s ease;
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        -webkit-transition: opacity 0.3s ease 0s !important;
        -moz-transition: opacity 0.3s ease 0s !important;
        transition: opacity 0.3s ease 0s !important; }
        #main_menu .header-inner .menu .btn:hover {
          background-color: #222; }

.news {
  display: flex;
  flex-direction: row;
  background: #ececec;
  margin: 1rem;
  line-height: 1.4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 0; }
  .news a {
    color: #212121;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
    .news a:hover {
      color: #F51; }
  .news .news-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .news:hover .news-img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }
  .news .meta {
    position: relative;
    z-index: 0;
    flex-basis: 40%;
    height: auto; }
  .news ul li {
    display: inline-block; }
  .news .content {
    padding: 1rem;
    background: #ececec;
    position: relative;
    z-index: 1;
    flex-basis: 60%; }
    .news .content:before {
      transform: skewX(-3deg);
      content: "";
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: #ececec; }
    .news .content h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .news .content .read-more {
      text-align: right; }
    .news .content p {
      position: relative;
      margin: 1rem 0 0; }
      .news .content p:first-of-type {
        margin-top: 1.25rem; }
        .news .content p:first-of-type:before {
          content: "";
          position: absolute;
          height: 5px;
          background: #ff4025;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px; }
    .news .content .detail i {
      margin-right: 4px; }
    .news .content .detail li {
      margin-right: 12px; }
  .news:nth-child(2n+0) {
    flex-direction: row-reverse; }
    .news:nth-child(2n+0) .meta {
      flex-basis: 40%;
      height: auto; }
    .news:nth-child(2n+0) .content:before {
      left: inherit;
      right: -10px;
      transform: skew(3deg); }
    .news:nth-child(2n+0) .details {
      padding-left: 25px; }

.searchBox {
  height: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  padding: 5px;
  background: #2f3640; }

.searchBox:hover > .searchButton {
  background: white;
  color: #bababa; }

.searchButton {
  color: white;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff4025;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear; }

.searchInput {
  width: 320px;
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0 0 0 10px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px; }

header {
  height: 155px; }

.news-container {
  display: grid;
  padding: 20px;
  grid-template-columns: auto 900px 20px 400px auto; }
  .news-container .news-section {
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: start end;
    width: 70%;
    min-width: 700px; }
  .news-container aside {
    width: 400px;
    grid-column-start: 4;
    grid-column-end: 5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ececec;
    place-self: start start; }
    .news-container aside .filters {
      width: 100%;
      padding: 15px; }
    .news-container aside .searchBox {
      margin-top: 20px; }

@media screen and (max-width: 1380px) {
  .news-container {
    grid-template-columns: auto 700px 20px 400px auto; } }

/*# sourceMappingURL=news.css.map */
