// --- < VARIABLES > ---------------------------------------- //

$color_primary: #ff4025;

$color_in-text-link: #212121;
$color_in-text-link-hover: #F51;

// --- < IMPORT > ------------------------------------------- //

@import "../mixins/mix";
@import "./reset";
@import "./base";
