<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/6bdf0d0706.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <title>Title</title>
</head>

<body>
<div th:replace="menu :: menu"></div>

<div class="container">
    <img src="" alt="">

    <form th:action="@{/shop/products/new}" th:object="${formProducts}" method="post">
        <p>Nom</p>
        <input type="text" th:field="*{name}" name="name" id="name">
        <label class="red" for="name" th:each="error: ${#fields.errors('name')}" th:text="${error}"></label>

        <p>Code du Produit</p>
        <input type="text" th:field="*{code}" name="code" id="code">
        <label class="red" for="code" th:each="error: ${#fields.errors('code')}" th:text="${error}"></label>

        <p>Prix du Produit</p>
        <input type="text" th:field="*{price}" name="price" id="price">
        <label class="red" for="price" th:each="error: ${#fields.errors('price')}" th:text="${error}"></label>

        <p>Disponible du (format année-mois-jour heure:minute:seconde.miliseconde)</p>
        <input type="text" th:field="*{availableFrom}" name="availableFrom" id="availableFrom" placeholder="année-mois-jour heure:minute:seconde:miliseconde">
        <label class="red" for="availableFrom" th:each="error: ${#fields.errors('availableFrom')}" th:text="${error}"></label>

        <p>Au (format année-mois-jour heure:minute:seconde.miliseconde) (Peut-être null)</p>
        <input type="text" th:field="*{availableTo}" name="availableTo" id="availableTo" placeholder="année-mois-jour heure:minute:seconde:miliseconde">
        <label class="red" for="availableTo" th:each="error: ${#fields.errors('availableTo')}" th:text="${error}"></label>

        <p>Description (Peut-être null)</p>
        <textarea th:field="*{description}" name="description" id="description" cols="30" rows="10"></textarea>
        <label class="red" for="description" th:each="error: ${#fields.errors('description')}" th:text="${error}"></label>

        <input type="submit" value="Ajouter">
        <a th:href="@{/shop/products}" class="btn-form-cancel">Annuler</a>
    </form>
</div>

</body>
</html>