*,
*:after,
*:before {
    @include box-sizing(border-box);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    color: #5a5a5a;
    line-height: 1.42857143;
    font-family: open sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .01em;
    @include text-antialiasing;
}

h1, h2 {
    color: #222222;
}

a {
    outline: 0 !important;
    text-shadow: none!important;
    text-decoration: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.relative {
    position: relative;
}

